<div *ngIf="employees.length>0;then list else nolist">
</div>


<ng-template #list>
 <table>
    <tr *ngFor="let employee of employees">

<td> {{employee.id}} </td>
<td> {{employee.name}} </td>
<td> {{employee.dept}} </td>
<td> {{employee.doj}} </td></tr>
 </table>
</ng-template>


<ng-template #nolist>
    
</ng-template>

<button (click)="AddEmployee()"> Add Employee </button>

<button (click)="DeleteEmployee()"> Delete Employee </button>

<button (click)="EditEmployee()"> Edit Employee </button>