
<table>
    <tr>
        <th> Product ID </th>
        <th> Name </th>
        <th> Price </th>
    </tr>
    <tr *ngFor="let product of products">
        <td> {{product.id}} </td>
        <td> {{product.name}} </td>
        <td> {{product.price}} </td>
         

    </tr>
</table>

<button (click)="AddProduct()"> AddProduct </button>


<button (click)="DeleteProduct()"> Delete Product </button>

<button (click)="EditProduct()"> Edit Product </button>
<button (click)="GetProductById()"> Get Product By Id </button>
